@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-theme: "Cinzel", "sans-serif";
    --font-read: "Rokkitt", "serif";
    --breakpoint-3xl: 120rem;
    --color-yellow-c: #ffc670;
    --color-yellow-dark-c: #cca15f;
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    /* ... */
  }
